@media only screen and (max-width: 800px) {
  .experience 
  {
    border: 1.5px solid black;
    width: 90%;
    padding: 10px;
    margin-top: 1px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    }
    
    .experience h2 {
      background-color: rgb(178, 182, 186);
      text-align: center;
      margin-top: 0;
      margin-bottom: 15px;
      color: #000000; 
      font-size: 25px;
      font-weight: bold;
    }
    
    .accordion p {
      margin: 0;
      color: #666666;
      font-size: 14px;
    }
    
    .experience ul {
      font-size: 18px;
      list-style-type: disc;
      margin-left: 20px;
      padding-left: 0;
    }
  
    .experience b {
      font-size: 17px;
    }
    
    .accordion-button {
      font-size: 15px;
      background-color: #dddddd;
    }
}

@media only screen and (min-width: 800px) {
  .experience 
  {
    margin-top: 1px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: #ffffff;
    border: 1.5px solid black;
    width: 80%;
    }
    
    .experience h2 {
      background-color: rgb(178, 182, 186);
      text-align: center;
      margin-top: 0;
      margin-bottom: 15px;
      color: #000000; 
      font-size: 30px;
      font-weight: bold;
    }
    
    .accordion p {
      margin: 0;
      color: #666666;
      font-size: 16px;
    }
    
    .experience ul {
      font-size: 20px;
      list-style-type: disc;
      margin-left: 20px;
      padding-left: 0;
    }
  
    .experience b {
      font-size: 20px;
    }
  
    .accordion-button {
      background-color: #dddddd;
    }
}