@media only screen and (max-width: 800px) {
    .skills {
        border: 1.5px solid black;
        width: 90%;
        padding: 10px;
        margin-top: 1px;
        margin-bottom: 15px;
        margin-right: auto;
        margin-left: auto;
        color: black;
        }
        .skills h2 {
            background-color: rgb(178, 182, 186);
            text-align: center;
            margin-top: 0;
            margin-bottom: 15px;
            color: #000000; 
            font-size: 25px;
            font-weight: bold;
        }
        .skills ul {
            list-style-type: disc;
            font-size: 17px;
            margin: 0;
            line-height: 1.8;
        }
        .skills li {
            margin-bottom: 5px;
        }
}
@media only screen and (min-width: 800px) {
    .skills {
    background-position: center;
    background-size: cover;
    margin-top: 1px;
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    padding: 50px;
    color: black;
    background-color: white; 
    border: 1.5px solid black;
    width: 44%;
    }
    .skills h2 {
        background-color: rgb(178, 182, 186);
        text-align: center;
        margin-top: 0;
        margin-bottom: 15px;
        color: #000000; 
        font-size: 30px;
        font-weight: bold;
    }
    .skills ul {
        list-style-type: disc;
        font-size: 20px;
        margin: 5px 0;
        line-height: 1.8;
    }
    .skills li {
        margin-bottom: 5px;
    }
}
